    <!-- filters -->
    <div class="filters">
        <button class="filter-options active"  onclick="showAll();" >all</button>
        <button class="filter-options"  onClick="selectTab(1);" >Audios</button>
        <button class="filter-options" onClick="selectTab(2);">Images</button>
        <button class="filter-options" onClick="selectTab(3);">PDF</button>
        <button class="filter-options"  onClick="selectTab(4);">Videos</button>
<!--         <button class="filter-options">marvel</button>
        <button class="filter-options">javascript</button>
        <button class="filter-options">artificial intelligence</button> -->

    </div>