<section>
  
  <script src="/homeTab.js"></script>
  <script src="/filter.js"></script>
  <script src="/Filecontrolls.js"></script>
   <script src="/util.js"></script> <!-- util functions included in the CodyHouse framework -->
  <script src="/menu-aim.js"></script>
  <script src="/main.js"></script>
      <!-- <script src="/script.js" defer></script> -->
</section>
<style>
      table.scrolldown tbody {
         display: block;
      }   
      table.scrolldown tbody {
         height: 350px; 
         overflow-y: auto;
         overflow-x: hidden; 
      }
        



* {
  box-sizing: border-box;
}

#searhcInputNew {
  
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#recents {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#recents th, #recents td {
  text-align: left;
  padding: 12px;
}

#recents tr {
  border-bottom: 1px solid #ddd;
}

#recents tr.header, #recents tr:hover {
  background-color: #f1f1f1;
}
</style>



 