 <section  >
        <nav class="cd-side-nav js-cd-side-nav" style="box-shadow: 2px 2px 12px #ccc;">
      <ul class="cd-side__list js-cd-side__list">
        <li class="cd-side__label"><span >Main</span></li>
        <li class="cd-side__item cd-side__item--has-children cd-side__item--overview js-cd-item--has-children">
          <a href="/home">Home</a>
          
           
        </li>

        <li class="cd-side__item cd-side__item--has-children cd-side__item--notifications cd-side__item--selected js-cd-item--has-children">
          <a href="#0">Notifications<span class="cd-count">3</span></a>
          
          <ul class="cd-side__sub-list">
            <li class="cd-side__sub-item"><a aria-current="page" href="#0">All Notifications</a></li>
            <li class="cd-side__sub-item"><a href="recent-files">Recent Files</a></li>
            <li class="cd-side__sub-item"><a href="#0">Other</a></li>
          </ul>
        </li>
    
 
      </ul>
    

      <!-- box-shadow: 0 1px 8px rgba(side__list0, 0, 0, .1), 0 8px 24px rgba(0, 0, 0, .15); -->
<!--       <ul class="cd- js-cd-side__list">
        <li class="cd-side__label"><span>Action</span></li>
        <li class="cd-side__btn"><button class="reset" href="#0">+ Button</button></li>
      </ul> -->
    </nav>
    <!-- -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; -->

 </section>