<!DOCTYPE html>
<html lang="en">

<head>
    <!-- head -->
    <%- include('./partials/head.ejs') %>
</head>
 
<body>
    <div class="wrapper">
        <!-- top bar -->
        <%- include('./partials/topNav.ejs') %>
        <!-- end -->
        <div class="container">
            <!-- side bar -->
            <%- include('./partials/sideNav.ejs') %>
            <!-- end -->
            <!-- dashboard -->
            <%- include('./partials/partital-dashboard.ejs') %>

            <!-- end -->
        </div>
    </div>
</body>

</html>