<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <link rel="stylesheet" href="/login-form-style.css">
    <!-- Fontawesome CDN Link -->
    <%- include('./customer/partials/head.ejs') %>
      <link rel="stylesheet" href="/login-form-style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>


  <div class="container">
 <% if(error_forgot_pass) {%>
<div class="alert-error">
    <!-- alert error -->
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <span class="error_auth"> <%= error_forgot_pass %> </span>
</div>

<%   }%>
<!-- alert success -->

<%  if (success_forgot_pass) {%>

<div class="alert-success">
    <!-- alert error -->
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <span class="error_auth"> <%= success_forgot_pass %> </span>
</span>
</div>
<% }%>

    <!-- notification -->
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="/logo.jpg" alt="">
        <div class="text">
          <span class="text-1">Every new friend is a <br> new adventure</span>
          <span class="text-2">Let's get connected</span>
        </div>
      </div>
 
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Account Recovery</div>
             <form action="/account/verification" method="post" class="form" id="form-signup">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="Enter your email" name="email"  id="email" required>
                <br>
                  
              </div>
              <span class="error" id="error_email">
                        <i id="email_err__msg"></i>
                </span>
             
              <div class="text"><a href="/login">Create New Account?</a></div>
              <div class="button input-box">
                <input type="submit" value="Recover">
              </div>
            
            </div>
        </form>
      </div>
 
    </div>
    </div>
  </div>

  <script>
        
        //email
var email=document.querySelector('#email');
var email_err__msg=document.querySelector('#email_err__msg')
var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;


    email.addEventListener('keyup',(e)=>{
       
      if(e.target.value.match(mailformat))
         {
            //document.write("Valid email address!");
            email.style.border='1px solid #01cb44';
            email_err__msg.style.color='green';
            email_err__msg.style.display='none'
            email_err__msg.textContent='Email Good..';

            return true;
         }
         else if(!e.target.value.match(mailformat))         {

            //email.style.placeholder='example@email/com';
            email.style.border='1px solid #FF5466';
            email_err__msg.style.color='red';
            email_err__msg.style.display='initial';            
            email_err__msg.textContent='Invalid email..';
            email_err__msg.color='red';

            document.email-form.email.focus();
         
             return false;
         }
         
         email.removeEventListener('keyup');
    });


    var password =document.getElementById('password');

    //show and hide pass newpass
function showPassNew() {
   // alert('all')
    if (password.type === "password") {
        password.type = "text";
        document.getElementById('showpass').style.display='none';
        document.getElementById('hidepass').style.display='initial';
        // alert('pass')
    } else {
        password.type = "password";
        document.getElementById('showpass').style.display='initial';
        document.getElementById('hidepass').style.display='none';
        
       // alert('text');
    }
  }


 
    </script>
</body>
</html>
