<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('./customer/partials/head.ejs') %>
     <link rel="stylesheet" href="/login.css">
</head>
<body>
    <div class="container">
        <div class="left">
        <div class="logo">
            <img src="/logo.jpg" alt="logo" srcset="">
        </div>
        </div>
        <div class="right">
 <% if(error_forgot_pass) {%>
<div class="alert-error">
    <!-- alert error -->
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <span class="error_auth"> <%= error_forgot_pass %> </span>
</div>

<%   }%>
<!-- alert success -->

<%  if (success_forgot_pass) {%>

<div class="alert-success">
    <!-- alert error -->
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <span class="error_auth"> <%= success_forgot_pass %> </span>
</span>
</div>
<% }%>


        <div class="form-container">
            <div class="header-title" id="register-head">
                <h3>Account recovery</h3>
                <p class="new-account">
                    <span>No Account yet? <a href="/" id="login-btn">create it here</a> to start accessing files on the sever </span>
                </p>
                 
            </div>
            <form action="/account/verification" method="post" class="form" id="form-signup">
                <!-- <div class="input-box">
                    <label for="username"> Username </label>
                    <input type="text" name="userName"  autocomplete="none"  id="username" class="username">
                    <span class="error" id="error_username">
                    <i id="uname_err__msg">Username lenght must be more than 8</i>
                    </span>
                    <div class="business-container">

                     </div>
                </div> -->
                <div class="input-box">
                    <input type="email" name="email" onkeyup="checkEmail(this.value)" id="email" placeholder="Email"
                        class="email">
                    <span class="error" id="error_email">
                        <i id="email_err__msg"></i>
                    </span>

                </div>
                <div  id="input-box-submit">
                    <input type="submit" value="Recover" id="submit-btn" class="submit-btn">
                    <p>By clicking this button , you will recieve a mail from ths file server
                        
                    </p>
                </div>
            </form>

            
        </div>
        </div>
    </div>
   <!-- <script src="/validate.js"></script> -->
   <script type="text/javascript">
       // email
function checkEmail(email){
var email_err__msg=document.getElementById('email_err__msg');

if(email==""){
        document.getElementById('email_err__msg').textContent='Input required';
        document.getElementById('email_err__msg').style.display='initial';
        document.getElementById('email').style.borderColor='red';
        document.getElementById('submit-btn').disabled=true;
        return false;
}

var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
if(email.match(mailformat))
{
   email_err__msg.style.display='none';
   document.getElementById('email').style.borderColor='green';
   email_err__msg.style.color='green';
   document.getElementById('submit-btn').disabled=false; 
   // end
}
else
{
    email_err__msg.textContent='Email must contain valid chars';
    email_err__msg.style.color='red';
    email_err__msg.style.display='initial';
    document.getElementById('email').style.borderColor='red';
    document.getElementById('submit-btn').disabled=true;
   return false;
   

}





    }
   </script>
</body>
</html>