<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./customer/partials/head.ejs') %>
        <link rel="stylesheet" href="/login.css">
   </head>
<body>
    <div class="container">
        <div class="left">
        <div class="logo">
            <img src="/logo.jpg" alt="logo" srcset="">
        </div>
        </div>
        <div class="right">
            <% if(verify_token) {      %>
<div class="alert-error">
    <!-- alert error -->
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <span class="error_auth"> <%= verify_token %> </span>
</div>

<%   }%>



        <div class="form-container">
            <div class="header-title">
                <h3>Change Account password<h3>
                <p> 
                    <span>Create new password  to start accessing files on the sever </span>
                </p>
                
            </div>
            <form action="/update/password" method="post" class="form"  enctype="multipart/form-data" >
                <input type="text" name="userId" value="<%= userId %>" style="display: none;">
                <div class="input-box">
                <label for="password"> Password </label>
                    <input type="password" name="password" id="password" class="password">
                    <span class="error" id="error_password">
                        <i id="pass_err__msg">password lenght must be more than 8</i>
                    </span>
                </div>
                <div class="input-box">
                    <label for="password"> RePassword </label>
                        <input type="password" name="repassword" id="password" class="password">
                        <span class="error" id="error_password">
                            <i id="pass_err__msg">password lenght must be more than 8</i>
                        </span>
                    </div>
         
                </div>
                <div  id="input-box-submit">
                    <input type="submit" style="padding: 9px 10px;" value="Update" id="submit-btn" class="submit-btn">
                    
                </div>
               
            </form>
        </div>
        </div>
    </div>
</body>
</html>