<!DOCTYPE html>
<html lang="en">

<head>
  <!-- head -->
  <%- include('../customer/partials/head.ejs') %>
  <link rel="stylesheet" href="/customerhome.css">
</head>
<!--  -->

<!--  -->
<body>
  <div class="wrapper">
    <%- include('../customer/partials/topNavUser.ejs')  %>
    <!-- end -->
    <div class="content-container">
    <h1>profile user</h1>
    </div>
  </div>
  </div>

</body>

</html>