 
 <section>
   <!-- sside bar -->
   <div class="side-bar">
     <div class="links">
       <ul class="list">

         <li class="list-item">
           <div class="tooltip">
             <span class="icon">
               <a href="/dashboard">
                 <i class="fa fa-home" id="mobil-a"></i>
               </a>
             </span>
             <span class="tooltiptext">Home</span>
           </div>
           <a href="/dashboard" class="desk-a"><i class="fa fa-home"></i> Home</a>



         </li>


         <li class="list-item">

           <div class="tooltip">
             <span class="icon" id="uploads">
               <a href="/files">
                 <i class="fa fa-upload" id="mobil-a"></i>
               </a>
             </span>
             <span class="tooltiptext">Files</span>
           </div>
           <a href="/files" class="desk-a"><i class="fa fa-upload"></i> Files</a>
         </li>

         <li class="list-item">
           <div class="tooltip">
             <span class="icon" id="downloads">
               <a href="/downloads">
                 <i class="fa fa-download" id="mobil-a"></i>
               </a>
             </span>
             <span class="tooltiptext">Downloads</span>
           </div>
           <a href="/downloads" class="desk-a"><i class="fa fa-download"></i> Downloads</a>
         </li>
         <li class="list-item">
           <div class="tooltip">
             <span class="icon" id="users">
               <a href="/users">
                 <i class="fa fa-users" id="mobil-a"></i>
               </a>
             </span>
             <span class="tooltiptext">Users</span>
           </div>
           <a href="/users" class="desk-a"><i class="fa fa-users"></i> Users</a>
         </li>
         <li class="list-item">
           <div class="tooltip">
             <span class="icon" id="companies">
               <a href="/companies">
                 <i class="fa fa-building" id="mobil-a"></i>
             </span>
             </a>
             <span class="tooltiptext">Companies</span>
           </div>
           <a href="/companies" class="desk-a"><i class="fa fa-building"></i> Companies</a>
         </li>
         <li class="list-item">
           <div class="tooltip">
             <span class="icon" id="emails">
               <a href="/department">
                 <i class="fa fa-envelope" id="mobil-a"></i>
               </a>
             </span>
             <span class="tooltiptext">Departments</span>
           </div>
           <a href="/department" class="desk-a"><i class="fa fa-envelope"></i> Departments</a>
         </li>
         <li class="list-item">
          <div class="tooltip">
            <span class="icon" id="logout">
              <a href="/logs">
                <i class="fa  fa-user" id="mobil-a"></i>
              </a>
            </span>
            <span class="tooltiptext">Logs</span>
          </div>
          <a href="/logs" class="desk-a"><i class="fa  fa-user"></i> Logs</a>
        </li>
        <li class="list-item">
          <div class="tooltip">
            <span class="icon" id="logout">
              <a href="/error-logs">
                <i class="fa  fa-user" id="mobil-a"></i>
              </a>
            </span>
            <span class="tooltiptext">Logs</span>
          </div>
          <a href="/error-logs" class="desk-a"><i class="fa  fa-user"></i> Error Logs</a>
        </li>



       </ul>
     </div>
   </div>
   <!-- end -->
   <script src="/filter.js"></script>
    <script src="/preloader.js"></script>
 </section>

<div id="overlay" class="overlay">
  <div class="loader"></div>
  </div>
</br>
  
</div>

