 <section>
   <!-- sside bar -->
   <div class="side-bar">
     <div class="links">
       <ul class="list">

         <li class="list-item">
           <div class="tooltip">
             <span class="icon">
               <a href="/dashboard">
                 <i class="fas fa-home" id="mobil-a"></i>
               </a>
             </span>
             <span class="tooltiptext">Home</span>
           </div>
           <a href="/dashboard" class="desk-a"><i class="fas fa-home"></i> Home</a>



         </li>


         <li class="list-item">

           <div class="tooltip">
             <span class="icon" id="uploads">
               <a href="/files">
                 <i class="fas fa-upload" id="mobil-a"></i>
               </a>
             </span>
             <span class="tooltiptext">Files</span>
           </div>
           <a href="/files" class="desk-a"><i class="fas fa-upload"></i> Files</a>
         </li>

         <li class="list-item">
           <div class="tooltip">
             <span class="icon" id="downloads">
               <a href="/downloads">
                 <i class="fas fa-download" id="mobil-a"></i>
               </a>
             </span>
             <span class="tooltiptext">Downloads</span>
           </div>
           <a href="/downloads" class="desk-a"><i class="fas fa-download"></i> Downloads</a>
         </li>
         <li class="list-item">
           <div class="tooltip">
             <span class="icon" id="users">
               <a href="/users">
                 <i class="fas fa-users" id="mobil-a"></i>
               </a>
             </span>
             <span class="tooltiptext">Users</span>
           </div>
           <a href="/users" class="desk-a"><i class="fas fa-users"></i> Users</a>
         </li>
         <li class="list-item">
           <div class="tooltip">
             <span class="icon" id="companies">
               <a href="/companies">
                 <i class="fas fa-building" id="mobil-a"></i>
             </span>
             </a>
             <span class="tooltiptext">Companies</span>
           </div>
           <a href="/companies" class="desk-a"><i class="fas fa-building"></i> Companies</a>
         </li>
         <li class="list-item">
           <div class="tooltip">
             <span class="icon" id="emails">
               <a href="/department">
                 <i class="fas fa-envelope" id="mobil-a"></i>
               </a>
             </span>
             <span class="tooltiptext">Departments</span>
           </div>
           <a href="/department" class="desk-a"><i class="fas fa-envelope"></i> Departments</a>
         </li>
         <li class="list-item">
          <div class="tooltip">
            <span class="icon" id="logout">
              <a href="/logs">
                <i class="fas  fa-user" id="mobil-a"></i>
              </a>
            </span>
            <span class="tooltiptext">Logs</span>
          </div>
          <a href="/logs" class="desk-a"><i class="fas  fa-user"></i> Logs</a>
        </li>
        <li class="list-item">
          <div class="tooltip">
            <span class="icon" id="logout">
              <a href="/error-logs">
                <i class="fas  fa-user" id="mobil-a"></i>
              </a>
            </span>
            <span class="tooltiptext">Logs</span>
          </div>
          <a href="/error-logs" class="desk-a"><i class="fas  fa-user"></i> Error Logs</a>
        </li>
        <li class="list-item">
          <div class="tooltip">
            <span class="icon" id="logout">
              <a href="/edit/admin/profile">
                <i class="fas  fa-user" id="mobil-a"></i>
              </a>
            </span>
            <span class="tooltiptext">Profile</span>
          </div>
          <a href="/edit/admin/profile" class="desk-a"><i class="fas  fa-user"></i> Profile</a>
        </li>

         <li class="list-item">
           <div class="tooltip">
             <span class="icon" id="logout">
               <a href="/logout">
                 <i class="fas  fa-sign-out-alt" id="mobil-a"></i>
               </a>
             </span>
             <span class="tooltiptext">Logout</span>
           </div>
           <a href="/logout" class="desk-a"><i class="fas  fa-sign-out-alt"></i> Sign Out</a>
         </li>

       </ul>
     </div>
   </div>
   <!-- end -->
   <script src="/filter.js"></script>

 </section>