<section>
    <!-- top -->
    <div class="top">

     <span class="title">File Server</span>
     <span class="user-profile">
        <a href="/edit/admin/profile">
         <span class="img-container">
             
             <img src="/user.png" alt="" class="img-userprofile">

             <span class="username" style="text-transform: uppercase;">
                <% if(CurrentAdmin != undefined) {%>
                    <%= CurrentAdmin.userName %>
                    <%  }else{%> 
                        <script>
                            window.location.href='/';
                         </script>
                        <% } %>
             </span>
            
         </span>
         </a>
     </span>

 </div>
 <!-- end -->
</section>